body {
  font-family: "Shantell Sans", cursive;
}
ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.main {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  position: relative;
}

.about__text {
  width: 671px;
}

.section___sidebar {
  width: 550px;
  background-color: #000000;
  color: #fff;
  padding-top: 510px;
  padding-bottom: 150px;
}

.contacts__block {
  margin-left: 49px;
}
.Education__block {
  margin-left: 49px;
}

.Languages__block {
  margin-left: 49px;
}
.section___experiance {
  background-color: #d9d9d9;
  width: 850px;
  position: relative;
}

.about__block {
  width: 1134px;
  margin: 0 auto;
  background-color: #737373;
  color: #fff;
  padding: 84px 0;
  padding-left: 66px;
  display: flex;
  position: absolute;
  z-index: 100;
  top: 100px;
}

.block__img {
  position: relative;
}

.img__photo {
  width: 450px;
  height: 450px;
  display: block;
  border-radius: 50%;
  border: 10px solid black;
  position: absolute;
  top: -140px;
  left: -20px;
}

.title__ebout--text::after {
  content: "";
  display: block;
  width: 400px;
  height: 2px;
  background-color: #fff;
  margin-top: 10px;
}
