.main {
  width: 1400px;
  display: flex;
  margin: 0 auto;
}
.about__block {
  width: 1400px;
  margin: 0 auto;
  background-color: #737373;
  color: #fff;
  padding: 84px 0;
  padding-left: 62px;
  margin-top: 30px;
}

.about__text {
  width: 671px;
}
.section___sidebar {
  width: 550px;
  background-color: #000000;
  color: #fff;
  padding-top: 687px;
}

.contacts__block {
  margin-left: 49px;
}
.Education__block {
  margin-left: 49px;
}

.Languages__block {
  margin-left: 49px;
}

.section___experiance {
  background-color: #d9d9d9;
  width: 850px;
}
